<html>
  <head>
    <title>{{user}}'s Weekly Snippet ({{start_date}}-{{end_date}})</title>
    <script src="/assets/EpicEditor-v0.2.2/js/epiceditor.min.js"></script>
  <head>
    <body>
      <div class="snippet-header"><p>Showing snippet for user <span class="snippet-header-user">{{username}}@{{domain}}</span></p>
	<p>between <span class="snippet-header-date">{{start_date}}</span>
	and <span class="snippet-header-date">{{end_date}}</span></p>
      </div>

      <div id="week-nav">
	<a class="nav-prev" href="/snippets/{{username}}/{{prev_week}}">Prev</a>
	<a class="nav-next" href="/snippets/{{username}}/{{next_week}}">Next</a>
      </div>

      <div id="snippet-editor" style="width:400px;"></div>

      {% if edit %}
      <form action="/snippets/{{username}}/{{week}}" method="POST">
        <div><textarea style="display:none;" id="snippet_data" name="snippet_data" >{{snippet_content}}</textarea></div>
        <div><input type="submit" value="Update Your Snippet"></div>
      </form>
      {% else %}
      <div><textarea style="display:none;" id="snippet_data">{{snippet_content}}</textarea></div>
      {% endif %}
      <script>
            var options = { container: 'snippet-editor',
                            basePath: '/assets/EpicEditor-v0.2.2',
	                    clientSideStorage: false,
	                    textarea: 'snippet_data',
	                    autogrow: true,
	                    {% if edit %} button: { fullscreen: false } {% else %} button: false {% endif %}
	                  };
            var editor = new EpicEditor(options).load();
	    editor.preview();
      </script>
    </body>
</html>
